table, th, td {
    border: 1px solid black;
}

table {
    background-color: rgb(230, 230, 230);
    empty-cells: hide;
}

th {
    background-color: black;
    color: white;
}

td {
    background-color: white;
}

.addEmployee {
    border: 2px solid black;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    width: 147px;
}

.totalText {
    background-color: rgb(230, 230, 230);
    border: none;
    text-align: right;
}